
<div class= "hero"> 
  <br/>
  <div class = "frosty col-10 offset-1 text-center">
    <br/>
    <h1> Get reading to look at an apple </h1>
    <br/>
    <h2> This is the sub line </h2>
    <br/>
    <%= link_to 'Learn More >>', "#", class: 'btn btn-success' %>

    <br/> <br/>

  </div>
</div>

<br/>

<div class = "row feature text-center">

  <div class = "col-12 col-sm">
    <h3>Great Courses</h3>
    <br/>
    <p>Select from our wide variety of courses!</p>
  </div>

  <div class = "col-12 col-sm">
    <h3>Learn on Your Own, Whenever You Want</h3>
    <br/>
    <p>Use our course scheduler and archives to learn at your own pace!</p>
  </div>

  <div class = "col-12 col-sm">
    <h3>Join the Growing Community</h3>
    <br/>
    <p>Come and learn with everyone else in the community!</p>
  </div>  


</div>