@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


.navbar {
  font-family: 'Righteous', cursive;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: white;
  background: image_url('dark-grey-terrazzo.png');
  font-size: 20px;  
  margin: 0;

}
h1, h2, h3, h4, h5, h6 .navbar {
  margin: 0;
}


.navbar-inverse a.navbar-brand {
  font-size: 30px;  
  font-family: 'Righteous', cursive;
  color: #fbbdff;
}


body {
  color: white;
  background: image_url('dark-honeycomb.png');
}

.hero {
  background: image_url('hero.jpg') no-repeat bottom center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: white;
}

.frosty {
  background: rgba(0,0,0,0.5);
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.frosty h1 {
  font-family: 'Righteous', cursive;
  font-weight: 100;
}

.frosty h2 {
  font-family: 'Righteous', cursive;
  font-weight: 200;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  color: black;
  padding: 30px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
